/*-- scss:rules --*/

/* Custom theme overrides */

/* Custom navbar background color */
.navbar {
  background-color: #f0f0f0 !important;
}

/* Custom navbar text color */
.navbar, .navbar a, .navbar .navbar-brand, .navbar .navbar-nav .nav-link {
  color: #3A1B00E6 !important;
}

/* Navbar icons and SVG elements */
.navbar svg, .navbar .aa-DetachedSearchButton svg, .navbar button svg {
  fill: #3A1B00E6 !important;
  stroke: #3A1B00E6 !important;
}

/* Navbar search button */
.navbar .aa-DetachedSearchButton, .navbar button {
  color: #3A1B00E6 !important;
}

/* Custom navbar text hover color */
.navbar a:hover, .navbar .navbar-brand:hover, .navbar .navbar-nav .nav-link:hover {
  color: lightgrey !important;
}

/* Navbar icons and SVG hover */
.navbar a:hover svg, .navbar .aa-DetachedSearchButton:hover svg, .navbar button:hover svg {
  fill: lightgrey !important;
  stroke: lightgrey !important;
}

